body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.hero1{
background-image: url(/B12A01-landing-launchpad/Assets/Hero-bg.png);
height: max-content;
padding: 34px;
  color: #111;
}
.suvro {
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 53px;
}
.logo {
  font-size: 20px;
  font-weight: 700;
  color: #4f46e5;
}
.btn {
  padding: 10px 20px;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(79, 70, 229, 0.3);
}
.banner {
  text-align: center;
  margin-top: 81px;
}
.banner h1 {
  font-size: 40px;
  margin-bottom: 20px;
}
.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f7ff;
    padding: 80px 50px;
    gap: 40px;
    flex-wrap: wrap;
}
.action-left{
    flex: 1;
    width: 280px;

}
.action-left h2{
font-size: 30px;
margin-bottom: 10px;
color: #111;
}
.action-left p{
    font-size: 16px;
    margin-bottom: 20px;
    color: #666;
    width: 400px;
}
.action-right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
}
.action-right img{
    width: 70%;
    border-radius: 20px;
}
.productive-users{
    background-color: #f5f7ff;
    padding: 50px 20px;
    text-align: center;
}
.hero2{
    background-color: #e2e7ff;
    border-radius: 20px;
    padding: 40px;
    width: 1000px;
    margin: 0 auto;
}
.title1{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #222;
}
.hero3{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}
.hero4 h3{
    font-size: 36px;
    color: #4E47FF;
    margin: 0;
}
.hero4 p{
    margin: 8px 0 0;
    color: #555;
    font-size: 16px;
}
.contact-section{
    background-color: #f5f8ff;
    padding: 60px 20px;
}
.contact-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 40px;
}
.contact-left{
    flex: 1;
    width: 250px;
    padding: center;
}
.contact-left h2{
    font-size: 60px;
    font-weight: bold;
    color: #000;
}
.contact-right {
     flex: 1;
     width: 280px;
}

.contact-right form {
  display: flex;
  flex-direction: column;
}
.contact-right label {
  margin: 10px 0 5px;
  font-weight: 600;
  color: #333;
}

.contact-right input,
.contact-right textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  resize: none;
}
.contact-right textarea {
  height: 100px;
}

.contact-right button {
  margin-top: 20px;
  padding: 12px;
  background-color: #4c4cff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}
.contact-right button:hover {
  background-color: #3b3bff;
}


